[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = https://github.com/analogdevicesinc/u-boot-xlnx.git
	branch = pluto
[submodule "hdl"]
	path = hdl
	url = https://github.com/hyojun01/hdl.git
	branch = basic_rte
[submodule "linux"]
	path = linux
	url = https://github.com/hyojun01/linux.git
	branch = basic_rte
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/hyojun01/buildroot.git
	branch = basic_rte
